
<div class="container mt-4">
    <h2>Loans</h2>
    <div *ngFor="let loan of loans">
        <div *ngIf="loan.amt > 1400">{{ loan.loanId }} -  {{ loan.amt}}</div>
    </div>
    <hr>
    <ng-container *ngFor="let loan of loans">
        <ng-container *ngIf="loan.amt > 1400"> {{loan.loanId}} --- {{loan.amt}}</ng-container>
    </ng-container>
    <hr>
    <div *ngTemplateOutlet="smplTemp">

    </div>
    <ng-template #smplTemp>
        By default it will not be loaded
    </ng-template>

    <!-- not recommended-->
    <div *ngIf="true" #smplTemp>
        Loaded inside If ->
    </div>

    <div *ngTemplateOutlet="smplTemp">

    </div>

    <div *ngTemplateOutlet="smplTemp">

    </div>
</div>